<div id="<%= dom_id post %>" class='my-5'>
  <div class="my-5 text-xl font-bold flex w-100 text-gray-600">
    <%= post.title %>
  </div>

  <blockquote class='relative p-10 w-full m-1'>
    <div class="my-5 flex">
      <%= post.body %>
    </div>
  </blockquote>

    <div class="my-5 flex flex-wrap">
     <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%#= image_tag image.variant(:thumb) %>
        <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
      <% end %>
     <% end %>
    </div>

    <div class="my-5 flex flex-wrap">
     <% if post.videos.attached? %>
      <% post.videos.each do |video| %>
        <%= image_tag video, width: '400px', heigh: 'auto' %>
      <% end %>
     <% end %>
    </div>

    <div class="mt-3 flex">
      <% if action_name != "show" %>
        <%= link_to "Show", post,
                    class: "btn-outline-sky-back whitespace-nowrap px-4 py-2 text-base font-medium text-gray-500 rounded-md hover:text-gray-900 hover:bg-gray-200 focus:opacity-90 transition duration-300" %>

        <%= button_to 'Destroy', post_path(post), method: :delete, class: "ml-2 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-400 hover:bg-orange-500 focus:opacity-90 transition duration-300" %>

        <%= link_to 'Edit', edit_post_path(post),
                    class: 'ml-2 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-sky-500 hover:bg-sky-600 focus:opacity-90 transition duration-300',
                    data: { turbo_frame: :posts } %>
      <hr class="mt-6">
      <% end %>
    </div>
</div>
