<!DOCTYPE html>
<html>
  <head>
    <title>MediaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current-user-id" content="<%= current_user&.id %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class=>
    <%= render 'shared/navigation' %>
    <main class="container max-w-5xl mx-auto mt-28 px-5 flex flex-col">
      <div id='notifications'>
        <%= render 'shared/flash' %>
      </div>
  
      <%= yield %>
    </main>
  </body>
</html>
